<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ItemsDB" connectionString="data source= sqlobrien.cxb64lq50ch9.us-east-1.rds.amazonaws.com; initial catalog=MonsterDB; user id=sqluser; password=RevaturE!#;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>